@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html {
    font-family: "-apple-system", "Roboto", sans-serif;
}

body {
    background-color: #474747;
    font-family: "-apple-system", "Roboto", sans-serif;
}

.navbar {
    font-family: "-apple-system", "Roboto", sans-serif;
}

a.dark-link {
    color: black;
}
